In [16]:
class H:
    def __init__(self):
        self.a = 1
        self.b = 2
    def __getitem__(self, key):
        print(key)
        i.__dict__[key] = "nuevo"

In [17]:
i = H()

In [18]:
i["hola"]

hola

In [19]:
i.hola

'nuevo'

In [20]:
i.__dict__

{'a': 1, 'b': 2, 'hola': 'nuevo'}

In [21]:
for elem in i.__dict__:
        print(elem)
        print(i.__dict__[elem])

a
1
b
2
hola
nuevo

In [22]:
import pandas as pd
headers = ["name","landmass","zone","area","population","language","religion","bars","stripes","colours","red","green","blue","gold","white","black","orange","mainhue","circles","crosses","saltires","quarters","sunstars","crescent","triangle","icon","animate","text","topleft","botright"]
tabla = pd.read_csv("resource/flag.data",names=headers)

In [23]:
tabla[(tabla["landmass"] == 5) & (tabla["name"] =="Afghanistan")]

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green

In [24]:
tabla[(tabla["landmass"] == 5)]

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
13,Bahrain,5,1,1,0,8,2,0,0,2,...,0,0,0,0,0,0,0,0,white,red
14,Bangladesh,5,1,143,90,6,2,0,0,2,...,0,0,0,0,0,0,0,0,green,green
20,Bhutan,5,1,47,1,10,3,0,0,4,...,0,0,0,0,0,0,1,0,orange,red
25,Brunei,5,1,6,0,10,2,0,0,4,...,0,0,0,0,1,1,1,1,white,gold
28,Burma,5,1,678,35,10,3,0,0,3,...,0,1,14,0,0,1,1,0,blue,red
37,China,5,1,9561,1008,7,6,0,0,2,...,0,0,5,0,0,0,0,0,red,red
78,Hong-Kong,5,1,1,5,7,3,0,0,6,...,1,1,0,0,0,1,1,1,white,blue
81,India,5,1,3268,684,6,4,0,3,4,...,0,0,0,0,0,1,0,0,orange,green
83,Iran,5,1,1648,39,6,2,0,3,3,...,0,0,0,0,0,1,0,1,green,red
84,Iraq,5,1,435,14,8,2,0,3,4,...,0,0,3,0,0,0,0,0,red,black
86,Israel,5,1,21,4,10,7,0,2,2,...,0,0,1,0,0,0,0,0,blue,blue
90,Japan,5,1,372,118,9,7,0,0,2,...,0,0,1,0,0,0,0,0,white,white
91,Jordan,5,1,98,2,8,2,0,3,4,...,0,0,1,0,1,0,0,0,black,green
92,Kampuchea,5,1,181,6,10,3,0,0,2,...,0,0,0,0,0,1,0,0,red,red
95,Kuwait,5,1,18,2,8,2,0,3,4,...,0,0,0,0,0,0,0,0,green,red
96,Laos,5,1,236,3,10,6,0,3,3,...,0,0,0,0,0,0,0,0,red,red
97,Lebanon,5,1,10,3,8,2,0,2,4,...,0,0,0,0,0,0,1,0,red,red
105,Malaysia,5,1,333,13,10,2,0,14,4,...,0,1,1,1,0,0,0,0,blue,white
106,Maldive-Islands,5,1,0,0,10,2,0,0,3,...,0,0,0,1,0,0,0,0,red,red
115,Mongolia,5,1,1566,2,10,6,3,0,3,...,0,0,1,1,1,1,0,0,red,red
120,Nepal,5,1,140,16,10,4,0,0,3,...,0,0,2,1,0,0,0,0,blue,blue
128,North-Korea,5,1,121,18,10,6,0,5,3,...,0,0,1,0,0,0,0,0,blue,blue
129,North-Yemen,5,1,195,9,8,2,0,3,4,...,0,0,1,0,0,0,0,0,red,black
131,Oman,5,1,212,1,8,2,0,2,3,...,0,0,0,0,0,1,0,0,red,green
132,Pakistan,5,1,804,84,6,2,1,0,2,...,0,0,1,1,0,0,0,0,white,green
141,Qatar,5,1,11,0,8,2,0,0,2,...,0,0,0,0,0,0,0,0,white,brown
146,Saudi-Arabia,5,1,2150,9,8,2,0,0,2,...,0,0,0,0,0,1,0,1,green,green
150,Singapore,5,1,1,3,7,3,0,2,2,...,0,0,5,1,0,0,0,0,red,white
154,South-Korea,5,1,99,39,10,7,0,0,4,...,0,0,0,0,0,1,0,0,white,white
155,South-Yemen,5,1,288,2,8,2,0,3,4,...,0,0,1,0,1,0,0,0,red,black
157,Sri-Lanka,5,1,66,15,10,3,2,0,4,...,0,0,0,0,0,1,1,0,gold,gold
167,Syria,5,1,185,10,8,2,0,3,4,...,0,0,2,0,0,0,0,0,red,black
168,Taiwan,5,1,36,18,7,3,0,0,3,...,0,1,1,0,0,0,0,0,blue,red
170,Thailand,5,1,514,49,10,3,0,5,3,...,0,0,0,0,0,0,0,0,red,red
175,Turkey,5,1,781,45,9,2,0,0,2,...,0,0,1,1,0,0,0,0,red,red
178,UAE,5,1,84,1,8,2,1,3,4,...,0,0,0,0,0,0,0,0,red,black
184,USSR,5,1,22402,274,5,6,0,0,2,...,0,0,1,0,0,1,0,0,red,red
188,Vietnam,5,1,333,60,10,6,0,0,2,...,0,0,1,0,0,0,0,0,red,red

In [25]:
len(tabla[(tabla["landmass"] == 5)])

39

In [26]:
tabla.sample(n=4)

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
135,Parguay,2,3,407,3,2,0,0,3,6,...,0,0,1,0,0,1,1,1,red,blue
37,China,5,1,9561,1008,7,6,0,0,2,...,0,0,5,0,0,0,0,0,red,red
116,Montserrat,1,4,0,0,1,1,0,0,7,...,1,1,0,0,0,1,1,0,white,blue
36,Chile,2,3,757,11,2,0,0,2,3,...,0,1,1,0,0,0,0,0,blue,red

In [27]:
tabla.sample(n=2, axis=1)[:5]

  topleft  area
0   black   648
1     red    29
2   green  2388
3    blue     0
4    blue     0

In [53]:
grouped = tabla[["area","religion"]].groupby("area")

In [58]:
for t in grouped:
    print(t)

(0,      area  religion
3       0         1
4       0         0
6       0         1
7       0         1
15      0         1
19      0         1
24      0         1
33      0         1
41      0         1
48      0         1
67      0         1
70      0         1
71      0         1
94      0         1
101     0         0
106     0         2
108     0         0
109     0         1
114     0         0
116     0         1
119     0         1
122     0         1
127     0         1
144     0         0
145     0         0
148     0         1
158     0         1
159     0         1
160     0         1
161     0         1
176     0         1
177     0         1
182     0         1
186     0         0)
(1,      area  religion
13      1         2
55      1         1
78      1         3
113     1         1
150     1         3
172     1         1)
(2,      area  religion
39      2         2
111     2         4)
(3,      area  religion
102     3         0
189     3         1)
(4,     area  religion
32     4         0
61     4         0)
(5,      area  religion
173     5         1)
(6,     area  religion
25     6         2)
(9,      area  religion
44      9         1
140     9         0)
(10,     area  religion
63    10         5
97    10         2)
(11,      area  religion
89     11         1
141    11         2)
(12,     area  religion
56    12         1)
(15,      area  religion
185    15         1)
(17,      area  religion
164    17         1)
(18,     area  religion
57    18         1
95    18         2)
(19,     area  religion
12    19         1)
(21,     area  religion
52    21         0
86    21         7)
(22,     area  religion
47    22         2)
(23,     area  religion
17    23         1)
(26,      area  religion
143    26         5)
(28,     area  religion
29    28         5
53    28         5
76    28         0)
(29,    area  religion
1    29         6)
(30,      area  religion
98     30         5
151    30         1)
(31,     area  religion
16    31         0)
(36,      area  religion
74     36         5
168    36         3)
(41,      area  religion
121    41         1
166    41         1)
(43,     area  religion
46    43         1)
(47,     area  religion
20    47         3)
(49,     area  religion
49    49         0)
(51,     area  religion
42    51         0)
(57,      area  religion
171    57         7)
(63,      area  religion
163    63         1)
(66,      area  religion
157    66         3)
(70,     area  religion
85    70         0)
(72,      area  religion
149    72         5)
(76,      area  religion
133    76         0)
(84,      area  religion
11     84         0
178    84         2)
(91,     area  religion
60    91         0)
(92,      area  religion
139    92         0)
(93,     area  religion
79    93         6)
(98,     area  religion
91    98         2)
(99,      area  religion
154    99         7)
(103,     area  religion
80   103         1)
(108,     area  religion
64   108         6)
(109,     area  religion
72   109         0)
(111,     area  religion
26   111         6
99   111         5)
(112,     area  religion
77   112         0)
(113,     area  religion
18   113         5)
(115,     area  religion
43   115         6)
(118,      area  religion
104   118         5)
(121,      area  religion
128   121         6)
(128,      area  religion
45    128         6
124   128         0)
(132,     area  religion
68   132         1)
(140,      area  religion
120   140         4)
(143,     area  religion
14   143         2)
(164,      area  religion
174   164         2)
(178,      area  religion
181   178         0)
(181,     area  religion
92   181         3)
(185,      area  religion
167   185         2)
(195,      area  religion
129   195         2)
(196,      area  religion
147   196         2)
(212,      area  religion
131   212         2)
(215,     area  religion
75   215         4)
(236,      area  religion
96    236         6
179   236         5)
(237,      area  religion
142   237         6)
(239,     area  religion
66   239         5)
(245,      area  religion
180   245         1)
(246,     area  religion
73   246         2)
(249,     area  religion
65   249         1)
(256,      area  religion
190   256         6)
(268,      area  religion
62    268         5
123   268         1)
(274,     area  religion
27   274         5)
(284,     area  religion
50   284         0)
(288,      area  religion
155   288         2)
(300,      area  religion
137   300         0)
(301,     area  religion
87   301         0)
(313,      area  religion
138   313         6)
(323,     area  religion
88   323         5)
(324,      area  religion
130   324         1)
(333,      area  religion
105   333         2
188   333         6)
(337,     area  religion
58   337         1)
(342,     area  religion
40   342         5)
(372,     area  religion
90   372         7)
(391,      area  religion
193   391         5)
(407,      area  religion
135   407         0)
(435,     area  religion
84   435         2)
(447,      area  religion
117   447         2)
(450,      area  religion
165   450         1)
(463,      area  religion
134   463         5)
(474,     area  religion
30   474         1)
(505,      area  religion
156   505         0)
(514,      area  religion
170   514         3)
(547,     area  religion
59   547         0)
(583,     area  religion
93   583         5)
(587,      area  religion
103   587         1)
(600,     area  religion
22   600         5)
(623,     area  religion
34   623         5)
(637,      area  religion
152   637         2)
(648,    area  religion
0   648         2)
(678,     area  religion
28   678         3)
(753,      area  religion
192   753         5)
(757,     area  religion
36   757         0)
(781,      area  religion
175   781         2)
(783,      area  religion
118   783         5)
(804,      area  religion
132   804         2)
(905,      area  religion
191   905         5)
(912,      area  religion
187   912         0)
(925,      area  religion
126   925         2)
(945,      area  religion
169   945         5)
(1001,     area  religion
51  1001         2)
(1031,      area  religion
110  1031         2)
(1099,     area  religion
21  1099         0)
(1139,     area  religion
38  1139         0)
(1221,      area  religion
153  1221         1)
(1222,     area  religion
54  1222         1)
(1240,      area  religion
107  1240         2)
(1247,    area  religion
5  1247         5)
(1267,      area  religion
125  1267         2)
(1284,     area  religion
35  1284         5)
(1285,      area  religion
136  1285         0)
(1566,      area  religion
115  1566         6)
(1648,     area  religion
83  1648         2)
(1760,      area  religion
100  1760         2)
(1904,     area  religion
82  1904         2)
(1973,      area  religion
112  1973         0)
(2150,      area  religion
146  2150         2)
(2176,     area  religion
69  2176         1)
(2388,    area  religion
2  2388         2)
(2506,      area  religion
162  2506         2)
(2777,    area  religion
8  2777         0
9  2777         0)
(3268,     area  religion
81  3268         4)
(7690,     area  religion
10  7690         1)
(8512,     area  religion
23  8512         0)
(9363,      area  religion
183  9363         1)
(9561,     area  religion
37  9561         6)
(9976,     area  religion
31  9976         1)
(22402,       area  religion
184  22402         6)

In [63]:
tabla["area"].count()

194

In [64]:
tabla["area"].value_counts()

0        34
1         6
28        3
2         2
3         2
4         2
9         2
11        2
21        2
10        2
30        2
36        2
41        2
268       2
111       2
128       2
333       2
18        2
84        2
2777      2
236       2
63        1
547       1
1001      1
43        1
447       1
301       1
5         1
47        1
49        1
         ..
912       1
140       1
9561      1
905       1
91        1
587       1
93        1
98        1
99        1
2150      1
103       1
196       1
108       1
109       1
1247      1
112       1
113       1
1139      1
372       1
118       1
121       1
15        1
637       1
474       1
22402     1
132       1
1284      1
391       1
648       1
804       1
Name: area, Length: 136, dtype: int64